# ##################################################################################################
#  The MIT License (MIT)
#  Copyright (c) 2026 Advanced Micro Devices, Inc. All rights reserved.
# ##################################################################################################

[connectivity]
shell=service
nk=graph_kernel:1

sp=graph_kernel_0.m_axi_gmem0:HBM0
sp=graph_kernel_0.m_axi_gmem1:HBM1
