# ##################################################################################################
#  The MIT License (MIT)
#  Copyright (c) 2026 Advanced Micro Devices, Inc. All rights reserved.
# ##################################################################################################

[connectivity]
shell=service
nk=edges_kernel:1
nk=level_kernel:1
nk=normalize_kernel:1

sp=edges_kernel_0.m_axi_gmem0:HBM0
sp=edges_kernel_0.m_axi_gmem1:HBM1
sp=level_kernel_0.m_axi_gmem0:HBM2
sp=normalize_kernel_0.m_axi_gmem0:HBM1
